export(configure_hector)
export(hector_checker_app)
export(hector_constants)
export(hector_engine_parameters)
export(hector_read_tables)
export(hector_run_app)
export(hector_write_tables)

importFrom(graphics, lines)
importFrom(graphics, mtext)
importFrom(graphics, points)
importFrom(graphics, polygon)
importFrom(graphics, text)
importFrom(grDevices, graphics.off)
importFrom(grDevices, pdf)
importFrom(magicaxis, magplot)
importFrom(PBSmapping, as.PolySet)
importFrom(PBSmapping, joinPolys)
importFrom(plotrix, draw.circle)
importFrom(R.utils, withTimeout)
importFrom(sf, st_as_sf)
importFrom(sf, st_distance)
importFrom(shiny, actionButton)
importFrom(shiny, downloadButton)
importFrom(shiny, downloadHandler)
importFrom(shiny, fileInput)
importFrom(shiny, fluidPage)
importFrom(shiny, h5)
importFrom(shiny, h6)
importFrom(shiny, hr)
importFrom(shiny, mainPanel)
importFrom(shiny, observeEvent)
importFrom(shiny, plotOutput)
importFrom(shiny, renderPlot)
importFrom(shiny, renderText)
importFrom(shiny, req)
importFrom(shiny, runApp)
importFrom(shiny, shinyApp)
importFrom(shiny, sidebarLayout)
importFrom(shiny, sidebarPanel)
importFrom(shiny, tabPanel)
importFrom(shiny, tabsetPanel)
importFrom(shiny, textOutput)
importFrom(shinyjs, useShinyjs)
importFrom(sp, Polygon)
importFrom(sp, Polygons)
importFrom(sp, SpatialPoints)
importFrom(sp, SpatialPolygons)
importFrom(yaml, read_yaml)
